<!doctype html>
<html>
<style>body { width: 500px; margin: 0 auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }</style>
<body>
<h1>Activate Seamlist</h1>
<p>Seamlist is a front-end for <a href="http://lists.olin.edu/">lists.olin.edu</a> that makes it super-simple to subscribe and unsubscribe to mailing lists at Olin. Seamlist is able to do this by setting a single, randomly generated password for all mailing lists you are now subscribed to, or subscribe to in the future. The password for your account is available at any time once you activate Seamlist.</p>
<ol>
<li>Click the button below.</li>
<li>You will be sent an email asking you to confirm your subscription to <kbd>seamlist@lists.olin.edu</kbd>. Confirm your subscription.</li>
<li>Refresh and enjoy Seamlist!</li>
</ol>
<p><b>Note:</b> If you unsubscribe from the Seamlist mailing list, you'll have to activate Seamlist again.</p>
<form method='post' action='/subscribe'>
<button name='listid' value='seamlist'><h2>Neat-o. Activate Seamlist for my account!</h2></button> 
</form>
</body>
</html>